@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* COLORS */
$black: rgb(51,51,51);
$gray:  rgb(230,230,230);
$blue:  rgb(1,0,76);
$cyan:  rgb(35,178,254);
$green :rgb(3,214,146);
$yellow:rgb(254,188,44);


html,
body {
  font-family: 'Spartan', sans-serif;
  //  background: rgb(248, 248, 248)
  background: url('../assets/lizard/lizard.svg');
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 20%;
  background-repeat: no-repeat;
}

#header {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  color: rgb(51, 51, 51);
}

#header h1 {
  margin: 0;
}

#header p {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 600;

}

#synth{
  /* min-width: 60%; */
  /* max-width: 70%; */
  margin: auto;
}

#envelopes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
}

#toggles {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
}

#dials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
}

#sliders {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#positions {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top:2rem;
}

#midi-display {
  width: 20rem;
  height: 3.2rem;
  padding: 0.5em;
  margin: 1rem;
  border: 1px solid $black;
  background: $gray;
  color: $black;
  // line-height: 0.05rem;
}

#keyboard {
  margin: 0 auto;
}

#keyboard div {
  /* background: white; */
  border-radius: 2rem;
}

#keyboard svg:first-of-type {
  /* border-radius: 0 0 0.3rem 0.3rem; */
  /* border: 0.01rem solid rgb(51, 51, 51); */
  /* margin: 3px; */
  /* background: white; */
}