#  JSS-01 |JavaScript Software Synthesizer
#  Copyright (c) 2023 Michael Kolesidis <michael.kolesidis@gmail.com>
#  GNU Affero General Public License v3.0

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
