/* LAYOUT

root
	header
		title-bar | buttons-bar
		menu-wrapper (fixed)
	main
		section#displays
			|	div									|	div									| div									| div
			|	-	p									|	-	p									| -	p									| -	p
			|	-	div#midi-display	|	-	div#oscilloscope	| -	div#spectrogram		| -	div#meter

		section#panels
			|	div.panel-wrapper					|	div.panel-wrapper					|	div.panel-wrapper					|
			|		div#synthesizer.panel		|		div#modulation.panel		|		div#effects.panel				|
			|		-	label									|		-	label									|		- label									|
			|		-	collapsible-wrapper		|		-	collapsible-wrapper		|		-	collapsible-wrapper		|

		section#extras
				sequencer
				...

		section#keyboard

	footer

*/

main {
	min-height: calc(100vh - 2rem - 6rem);
	padding: 0 0 6rem;

	section {
		margin: 0 0 1rem;
	}
}

footer {
	padding: 0 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}


#displays {
	margin: 0 auto 1rem;
	padding: 0 0 1.5rem;

	display: flex;
	justify-content: center;
	gap: 0 2rem;
}

#panels {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 1rem;

	.panel-wrapper {
		flex: 1 1 360px;

		// padding: 0.5rem;
		// background-color: #00000009;

		.panel {
			min-width: 360px;
			max-width: 420px;
			margin: 0 auto;
		}

		#effects {
			max-width: 100%;
		}

		#synthesizer-settings {
			display: grid;
			grid-template-columns: repeat(4, 25%);
		}
	}
}

@media only screen and (min-width: 720px) {
	#panels .panel-wrapper:last-of-type {
		flex: 3 0 360px;
	}
}

@media only screen and (min-width: 1440px) {
	#panels {
		display: grid;
		grid-template-columns: repeat(2, 420px) 1fr;
	}
}

#keyboard {
	position: relative;
	z-index: 0;
	margin: 2rem auto 0;
}
