.number-dial-component {
	.number-dial {
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			white-space: nowrap;
			margin: 0 0 0.125rem;
		}

		.nexus-dial {
			margin-bottom: 0.5rem;
		}
	}
}
