.waveform-component {
	text-align: center;

	.type > div {
		margin: 0.25rem auto 0;
	}

	.labels {
		// @todo
		width: 380px;

		display: grid;
		grid-template-columns: repeat(5, 1fr);
		margin: 0 auto 1rem;

		font-weight: 500;
	}

	.partial-count > div {
		margin: 0 auto 1rem;
	}

	.partials {
		margin: 0 auto;
	}
}
