/* COLORS */
$black: rgb(51,51,51);
$gray:  rgb(230,230,230);
$blue:  rgb(1,0,76);
$cyan:  rgb(35,178,254);
$green :rgb(3,214,146);
$yellow:rgb(254,188,44);

/* SIZES */
$header-size: 3rem;
$header-font: $header-size / 3;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content:baseline;
  height: $header-size;
  line-height: $header-size;
  text-align: center;
  color: $blue;
  font-weight: 600;
  font-size: $header-font;
  width: 100%;
}

.App-logo {
  max-height: $header-size;
  pointer-events: none;
}

.Keyboard {
  position: absolute;
  bottom: 0;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
